# Rickettsiosis - Data Wrangling

### Import libraries

In [53]:
import numpy as np 
import pandas as pd

### Data Wrangling

**2016**

In [54]:
DATA2016 = '../data/2016.xlsx'
xls = pd.ExcelFile(DATA2016)

semanas = xls.sheet_names    

listings = []                    # create empty list to collect DataFrames

col_names = {0: 'estado', 5: 'sem', 6: 'm_acum', 7: 'f_acum', 8: '2015_acum'}

for semana in semanas:
    listing = pd.read_excel(xls, sheet_name=semana, header=None)    # read a sheet
    listing.drop([1,2,3,4], axis=1, inplace=True)                   # delete unnecesary columns
    listing['no_sem'] = semana.split('sem')[-1]                     # add 'no_sem' column
    listing['anio'] = 2016                                          # add 'anio' column
    listing.rename(columns=col_names, inplace=True)                 # rename columns
    listing = listing[:].replace('-',0)                             # replace '-' for 0
    listings.append(listing)                                        # appends all DataFrames

In [55]:
combined_listings = pd.concat(listings)
combined_listings.to_csv('../data/csv/2016.csv', index=False)
combined_listings.head()

                estado  sem  m_acum  f_acum  2015_acum no_sem  anio
0       Aguascalientes    0       0       0          0      1  2016
1      Baja California    0       0       0          0      1  2016
2  Baja California Sur    0       0       0          0      1  2016
3             Campeche    0       0       0          0      1  2016
4             Coahuila    0       0       0          0      1  2016

**2017**

In [60]:
DATA2017 = '../data/2017.xlsx'
xls = pd.ExcelFile(DATA2017)

semanas = xls.sheet_names    

listings = []                    # create empty list to collect DataFrames

col_names = {0: 'estado', 5: 'sem', 6: 'm_acum', 7: 'f_acum', 8: '2016_acum'}

for semana in semanas:
    listing = pd.read_excel(xls, sheet_name=semana, header=None)    # read a sheet
    listing.drop([1,2,3,4], axis=1, inplace=True)                   # delete unnecesary columns
    listing['no_sem'] = semana.split('sem')[-1]                     # add 'no_sem' column
    listing['anio'] = 2017                                          # add 'anio' column
    listing.rename(columns=col_names, inplace=True)                 # rename columns
    listing = listing[:].replace('-',0)                             # replace '-' for 0
    listings.append(listing)                                        # appends all DataFrames

In [61]:
combined_listings = pd.concat(listings)
combined_listings.to_csv('../data/csv/2017.csv', index=False)
combined_listings.head()

                estado  sem  m_acum  f_acum  2016_acum no_sem  anio
0       Aguascalientes    0       0       0          0      1  2017
1      Baja California    0       0       0          0      1  2017
2  Baja California Sur    0       0       0          0      1  2017
3             Campeche    0       0       0          0      1  2017
4             Coahuila    0       0       0          0      1  2017

**2015**

**Semana 1 - hasta la semana epidemiológica 53 del 2014**

In [83]:
DATA2015 = '../data/2015.xlsx'
xls = pd.ExcelFile(DATA2015)

col_names = {0: 'estado', 4: 'sem', 5: 'm_acum', 6: 'f_acum', 7: '2013_acum'}

dfw1 = pd.read_excel(DATA2015, header=None)    # DataFrame week 1
dfw1.drop([1, 2, 3], axis=1, inplace=True)
dfw1.rename(columns=col_names, inplace=True)
dfw1['no_sem'] = 53
dfw1['anio'] = 2014
dfw1 = dfw1[:].replace('-',0)
dfw1.to_csv('../data/csv/2014.csv', index=False)

**Semana 15 - No hay información**

**Las demás semanas**

In [84]:
DATA2015 = '../data/2015.xlsx'
xls = pd.ExcelFile(DATA2015)

semanas = xls.sheet_names
semanas.remove('sem1+')
semanas.remove('sem15+')

dataframes = []                    # create empty list to collect DataFrames

col_names = {0: 'estado', 5: 'sem', 6: 'm_acum', 7: 'f_acum', 8: '2016_acum'}

for semana in semanas:
    dataframe = pd.read_excel(xls, sheet_name=semana, header=None)    # read a sheet
    dataframe.drop([1,2,3,4], axis=1, inplace=True)                   # delete unnecesary columns
    dataframe['no_sem'] = semana.split('sem')[-1]                     # add 'no_sem' column
    dataframe['anio'] = 2015                                          # add 'anio' column
    dataframe.rename(columns=col_names, inplace=True)                 # rename columns
    dataframe = dataframe[:].replace('-',0)                           # replace '-' for 0
    dataframes.append(listing)                                        # appends all DataFrames

In [85]:
combined_dataframes = pd.concat(dataframes)
combined_dataframes.to_csv('../data/csv/2015.csv', index=False)
combined_dataframes.head()

                estado  sem  m_acum  f_acum  2014_acum no_sem  anio
0       Aguascalientes    0       0       0          0     52  2015
1      Baja California    0       7       7          0     52  2015
2  Baja California Sur    0       1       8          0     52  2015
3             Campeche    0       0       3          0     52  2015
4             Coahuila    0       4       2          0     52  2015