# Rickettsiosis - Data Analysis

### Import libraries

In [12]:
import pandas as pd 
import numpy as np

### Exploratory Data Analysis

In [13]:
DATAPATH = '../data/csv/2016.csv'

df2016 = pd.read_csv(DATAPATH)

In [14]:
df2016.head()

                estado sem m_acum f_acum 2015_acum  no_sem  anio
0       Aguascalientes   -      -      -         -       1  2016
1      Baja California   -      -      -         -       1  2016
2  Baja California Sur   -      -      -         -       1  2016
3             Campeche   -      -      -         -       1  2016
4             Coahuila   -      -      -         -       1  2016

In [15]:
df2016[df2016['no_sem'] == 24]

                  estado sem m_acum f_acum 2015_acum  no_sem  anio
759       Aguascalientes   -      -      -         -      24  2016
760      Baja California   -      1      3         -      24  2016
761  Baja California Sur   -      1      1         -      24  2016
762             Campeche   -      1      1         -      24  2016
763             Coahuila   -      2      1         -      24  2016
764               Colima   -      2      1         -      24  2016
765              Chiapas   -      1      1         -      24  2016
766            Chihuahua   -      2      1         -      24  2016
767     Ciudad de México   -      2      1         -      24  2016
768              Durango   -      2      1         -      24  2016
769           Guanajuato   -      2      1         -      24  2016
770             Guerrero   -      2      1         -      24  2016
771              Hidalgo   -      2      1         -      24  2016
772              Jalisco   -      1      2         -      24  2016
773               México   -      1      2         -      24  2016
774            Michoacán   -      1      1         -      24  2016
775              Morelos   -      4      1         -      24  2016
776              Nayarit   -      4      1         -      24  2016
777           Nuevo León   -      3      3         -      24  2016
778               Oaxaca   -      3      3         -      24  2016
779               Puebla   -      3      3         -      24  2016
780            Querétaro   -      3      3         -      24  2016
781         Quintana Roo   -      3      3         -      24  2016
782      San Luis Potosí   -      3      3         -      24  2016
783              Sinaloa   -      3      5         -      24  2016
784               Sonora   1      7      7         -      24  2016
785              Tabasco   1      7      7         -      24  2016
786           Tamaulipas   1      2      1         -      24  2016
787             Tlaxcala   1      2      1         -      24  2016
788             Veracruz   1      1      3         -      24  2016
789              Yucatán   1      1      3         -      24  2016
790            Zacatecas   1      1      3         -      24  2016
791                TOTAL   1     25     28         -      24  2016

In [18]:
# Check for None values 
df2016[:5].isna()

   estado    sem  m_acum  f_acum  2015_acum  no_sem   anio
0   False  False   False   False      False   False  False
1   False  False   False   False      False   False  False
2   False  False   False   False      False   False  False
3   False  False   False   False      False   False  False
4   False  False   False   False      False   False  False