# Data Analysis by Year

### Questions

**Which is the year with most cases?**

**Import libraries**

In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

**Import data by year**

In [4]:
df2013 = pd.read_csv("../data/csv/2013.csv")
df2014 = pd.read_csv("../data/csv/2014.csv")
df2015 = pd.read_csv("../data/csv/2015.csv")
df2016 = pd.read_csv("../data/csv/2016.csv")
df2017 = pd.read_csv("../data/csv/2017.csv")

**2013**

In [5]:
df2013.head()

                 state  year  week  cases_accum
0       Aguascalientes  2013     2          NaN
1      Baja California  2013     2          3.0
2  Baja California Sur  2013     2          NaN
3             Campeche  2013     2          NaN
4             Coahuila  2013     2          1.0

El dataframe de 2013 "df2013" solo contiene la columna de casos acumulados, debido a que este dataset se obtuvo de los datos de 2014, y no venía detallado si los casos eran de hombre o mujer. Por lo tanto la última semana de 2013 contiene los datos que pertenecen al acumulado de todo el año

**2014**

In [6]:
df2014.head()

                 state  year  week  week_cases  m_accum  f_accum
0       Aguascalientes  2014     2         NaN      NaN      NaN
1      Baja California  2014     2         2.0      1.0      1.0
2  Baja California Sur  2014     2         NaN      NaN      NaN
3             Campeche  2014     2         NaN      NaN      NaN
4             Coahuila  2014     2         NaN      NaN      NaN