# Rickettsiosis - Data Wrangling

In [2]:
import numpy as np 
import pandas as pd

### Data Wrangling

**2016**

In [97]:
DATA2016 = '../data/2016.xlsx'
xls = pd.ExcelFile(DATA2016)

weeks = xls.sheet_names    

dataframes = []    # empty list to group dataframes

col_names = {0: 'state', 5: 'week_cases', 6: 'm_accum', 7: 'f_accum'}

for week in weeks:
    df = pd.read_excel(xls, sheet_name=week, header=None)                     
    df.drop([1,2,3,4,8], axis=1, inplace=True)    # delete unnecesary columns
    df.drop(32, inplace=True)                     # delete "Total" row
    df.replace('-', 0, inplace=True)         # replace '-' for NaN value
    df['week'] = week.split('sem')[-1]                                        
    df['year'] = 2016  
    df.rename(columns=col_names, inplace=True)                                
    df = df[['state', 'year', 'week', 'week_cases', 'm_accum', 'f_accum']]    
    df['cases_accum'] = df['m_accum'] + df['f_accum']    # calculate accumulated cases in total
    dataframes.append(df)    # appends all dataframes

In [100]:
combined_dataframes = pd.concat(dataframes)
combined_dataframes.to_csv('../data/csv/2016.csv', index=False)
combined_dataframes.head()

                 state  year week  week_cases  m_accum  f_accum  cases_accum
0       Aguascalientes  2016    1           0        0        0            0
1      Baja California  2016    1           0        0        0            0
2  Baja California Sur  2016    1           0        0        0            0
3             Campeche  2016    1           0        0        0            0
4             Coahuila  2016    1           0        0        0            0

**2017**

In [101]:
DATA2017 = '../data/2017.xlsx'
xls = pd.ExcelFile(DATA2017)

weeks = xls.sheet_names    

dataframes = []    # empty list to group dataframes

col_names = {0: 'state', 5: 'week_cases', 6: 'm_accum', 7: 'f_accum'}

for week in weeks:
    df = pd.read_excel(xls, sheet_name=week, header=None)                     
    df.drop([1,2,3,4,8], axis=1, inplace=True)    # delete unnecesary columns
    df.drop(32, inplace=True)                     # delete "Total" row
    df.replace('-', 0, inplace=True)         # replace '-' for NaN
    df['week'] = week.split('sem')[-1]                                        
    df['year'] = 2017                                                      
    df.rename(columns=col_names, inplace=True)                                
    df = df[['state', 'year', 'week', 'week_cases', 'm_accum', 'f_accum']] 
    df['cases_accum'] = df['m_accum'] + df['f_accum']
    dataframes.append(df)                         # appends all dataframes

In [102]:
combined_dataframes = pd.concat(dataframes)
combined_dataframes.to_csv('../data/csv/2017.csv', index=False)
combined_dataframes.head()

                 state  year week  week_cases  m_accum  f_accum  cases_accum
0       Aguascalientes  2017    1           0        0        0            0
1      Baja California  2017    1           0        0        0            0
2  Baja California Sur  2017    1           0        0        0            0
3             Campeche  2017    1           0        0        0            0
4             Coahuila  2017    1           0        0        0            0

**2015**

**Semana 1 - equivalent to last week of 2014**

**Semana 15 - no data**

**Rest of the weeks**

In [103]:
DATA2015 = '../data/2015.xlsx'
xls = pd.ExcelFile(DATA2015)

weeks = xls.sheet_names
weeks.remove('sem1+')
weeks.remove('sem15+')

dataframes = []

col_names = {0: 'state', 5: 'week_cases', 6: 'm_accum', 7: 'f_accum'}

for week in weeks:
    df = pd.read_excel(xls, sheet_name=week, header=None)
    df.drop([1,2,3,4,8], axis=1, inplace=True)
    df.drop(32, inplace=True)
    df.replace('-', 0, inplace=True)
    df['week'] = week.split('sem')[-1]
    df['year'] = 2015
    df.rename(columns=col_names, inplace=True)
    df = df[['state', 'year', 'week', 'week_cases', 'm_accum', 'f_accum']]   
    df['cases_accum'] = df['m_accum'] + df['f_accum']
    dataframes.append(df)

In [104]:
combined_dataframes = pd.concat(dataframes)
combined_dataframes.to_csv('../data/csv/2015.csv', index=False)
combined_dataframes.head()

                 state  year week  week_cases  m_accum  f_accum  cases_accum
0       Aguascalientes  2015    2           0        0        0            0
1      Baja California  2015    2           0        0        0            0
2  Baja California Sur  2015    2           0        0        0            0
3             Campeche  2015    2           0        0        0            0
4             Coahuila  2015    2           0        0        0            0

**2014**

**Semana 1 - no data**

**Rest of the weeks**

In [105]:
DATA2014 = '../data/2014.xlsx'
xls = pd.ExcelFile(DATA2014)

weeks = xls.sheet_names
weeks.remove('sem1+')

dataframes = []

col_names = {0: 'state', 4: 'week_cases', 5: 'm_accum', 6: 'f_accum'}

for week in weeks:
    df = pd.read_excel(xls, sheet_name=week, header=None)
    df.drop([1,2,3,7], axis=1, inplace=True)
    df.drop(32, inplace=True)
    df.replace('-', 0, inplace=True)
    df['week'] = week.split('sem')[-1]
    df['year'] = 2014
    df.rename(columns=col_names, inplace=True)
    df = df[['state', 'year', 'week', 'week_cases', 'm_accum', 'f_accum']]   
    df['cases_accum'] = df['m_accum'] + df['f_accum']
    dataframes.append(df)

In [106]:
combined_dataframes = pd.concat(dataframes)
combined_dataframes.to_csv('../data/csv/2014.csv', index=False)
combined_dataframes.head()

                 state  year week  week_cases  m_accum  f_accum  cases_accum
0       Aguascalientes  2014    2           0        0        0            0
1      Baja California  2014    2           2        1        1            2
2  Baja California Sur  2014    2           0        0        0            0
3             Campeche  2014    2           0        0        0            0
4             Coahuila  2014    2           0        0        0            0

**2013**

The data was collected from the pdfs files of 2014

In [14]:
DATA2013 = '../data/2014.xlsx'
xls = pd.ExcelFile(DATA2013)

weeks = xls.sheet_names
weeks.remove('sem1+')

dataframes = []

col_names = {0: 'state', 7: 'cases_accum'}

for week in weeks:
    df = pd.read_excel(xls, sheet_name=week, header=None)
    df.drop([1,2,3,4,5,6], axis=1, inplace=True)
    df.drop(32, inplace=True)
    df.replace('-', 0, inplace=True)
    df['week'] = week.split('sem')[-1]
    df['year'] = 2013
    df.rename(columns=col_names, inplace=True)
    df = df[['state', 'year', 'week', 'cases_accum']]   
    dataframes.append(df)

In [15]:
combined_dataframes = pd.concat(dataframes)
combined_dataframes.to_csv('../data/csv/2013.csv', index=False)
combined_dataframes.head()

                 state  year week  cases_accum
0       Aguascalientes  2013    2          0.0
1      Baja California  2013    2          3.0
2  Baja California Sur  2013    2          0.0
3             Campeche  2013    2          0.0
4             Coahuila  2013    2          1.0

### Append all CSV files

In [107]:
csv2013 = pd.read_csv('../data/csv/2013.csv')
csv2014 = pd.read_csv('../data/csv/2014.csv')
csv2015 = pd.read_csv('../data/csv/2015.csv')
csv2016 = pd.read_csv('../data/csv/2016.csv')
csv2017 = pd.read_csv('../data/csv/2017.csv')

In [108]:
completedf = csv2013.append([csv2014, csv2015, csv2016, csv2017], sort=False)
completedf = completedf[['state', 'year', 'week', 'week_cases', 'm_accum', 'f_accum', 'cases_accum']] 
completedf = completedf.fillna(0)
completedf['week_cases'] = completedf['week_cases'].apply(np.int64)
completedf['m_accum'] = completedf['m_accum'].apply(np.int64)
completedf['f_accum'] = completedf['f_accum'].apply(np.int64)
completedf['cases_accum'] = completedf['cases_accum'].apply(np.int64)
completedf.to_csv('../data/csv/data_rick.csv', index=False)    # save it as csv file

In [111]:
completedf.loc[(completedf['year'] == 2015) & (completedf['week'] == 25)]

,state,year,week,week_cases,m_accum,f_accum,cases_accum
704,Aguascalientes,2015,25,0,0,0,0
705,Baja California,2015,25,3,7,6,13
706,Baja California Sur,2015,25,0,1,0,1
707,Campeche,2015,25,0,0,0,0
708,Coahuila,2015,25,2,3,6,9
709,Colima,2015,25,0,1,1,2
710,Chiapas,2015,25,0,0,0,0
711,Chihuahua,2015,25,0,1,0,1
712,Ciudad de México,2015,25,0,0,0,0
713,Durango,2015,25,0,0,0,0
714,Guanajuato,2015,25,0,0,1,1
715,Guerrero,2015,25,0,0,0,0
716,Hidalgo,2015,25,0,0,0,0
717,Jalisco,2015,25,0,0,0,0
718,México,2015,25,0,0,0,0
719,Michoacán,2015,25,0,0,0,0
720,Morelos,2015,25,0,0,0,0
721,Nayarit,2015,25,0,0,0,0
722,Nuevo León,2015,25,0,1,6,7
723,Oaxaca,2015,25,0,0,0,0
724,Puebla,2015,25,0,0,0,0
725,Querétaro,2015,25,0,0,0,0
726,Quintana Roo,2015,25,0,1,0,1
727,San Luis Potosí,2015,25,0,0,0,0
728,Sinaloa,2015,25,0,0,4,4
729,Sonora,2015,25,2,20,19,39
730,Tabasco,2015,25,0,0,0,0
731,Tamaulipas,2015,25,0,0,0,0
732,Tlaxcala,2015,25,0,0,0,0
733,Veracruz,2015,25,0,0,0,0
734,Yucatán,2015,25,0,0,0,0
735,Zacatecas,2015,25,0,0,0,0