# Rickettsiosis - Data Wrangling

### Import libraries

In [2]:
import numpy as np 
import pandas as pd

### Data Wrangling

**2016**

In [22]:
DATA2016 = '../data/2016.xlsx'
xls = pd.ExcelFile(DATA2016)

semanas = xls.sheet_names        

listings = []                    # create empty list to collect DataFrames

col_names = {0: 'estado', 5: 'sem', 6: 'm_acum', 7: 'f_acum', 8: '2015_acum'}

for semana in semanas:
    listing = pd.read_excel(xls, sheet_name=semana, header=None)    # read a sheet
    listing.drop([1,2,3,4], axis=1, inplace=True)                   # delete unnecesary columns
    listing['no_sem'] = semana.split('sem')[-1]                     # add 'no_sem' column
    listing['anio'] = 2016                                          # add 'anio' column
    listing.rename(columns=col_names, inplace=True)                 # rename columns
    listing = listing[:].replace('-',0)                             # replace '-' for 0
    listings.append(listing)                                        # appends all DataFrames

In [23]:
combined_listings = pd.concat(listings)
combined_listings.to_csv('../data/csv/2016.csv', index=False)
combined_listings.head()

                estado  sem  m_acum  f_acum  2015_acum no_sem  anio
0       Aguascalientes    0       0       0          0      1  2016
1      Baja California    0       0       0          0      1  2016
2  Baja California Sur    0       0       0          0      1  2016
3             Campeche    0       0       0          0      1  2016
4             Coahuila    0       0       0          0      1  2016