# Rickettsiosis - Data Analysis

### Import libraries

In [1]:
import pandas as pd 
import numpy as np

### Exploratory Data Analysis

In [11]:
DATAPATH = '../data/csv/2016.csv'

df2016 = pd.read_csv(DATAPATH)

In [12]:
df2016.head()

                estado  sem  m_acum  f_acum  2015_acum  no_sem  anio
0       Aguascalientes    0       0       0          0       1  2016
1      Baja California    0       0       0          0       1  2016
2  Baja California Sur    0       0       0          0       1  2016
3             Campeche    0       0       0          0       1  2016
4             Coahuila    0       0       0          0       1  2016

In [17]:
df2016[df2016['no_sem'] == 24]

                  estado  sem  m_acum  f_acum  2015_acum  no_sem  anio
759       Aguascalientes    0       0       0          0      24  2016
760      Baja California    0       1       3          0      24  2016
761  Baja California Sur    0       0       1          0      24  2016
762             Campeche    0       1       0          0      24  2016
763             Coahuila    0       2       0          0      24  2016
764               Colima    0       0       0          0      24  2016
765              Chiapas    0       1       0          0      24  2016
766            Chihuahua    0       2       1          0      24  2016
767     Ciudad de México    0       0       0          0      24  2016
768              Durango    0       0       0          0      24  2016
769           Guanajuato    0       0       0          0      24  2016
770             Guerrero    0       0       0          0      24  2016
771              Hidalgo    0       0       0          0      24  2016
772              Jalisco    0       1       2          0      24  2016
773               México    0       0       0          0      24  2016
774            Michoacán    0       0       1          0      24  2016
775              Morelos    0       4       1          0      24  2016
776              Nayarit    0       0       0          0      24  2016
777           Nuevo León    0       3       3          0      24  2016
778               Oaxaca    0       0       0          0      24  2016
779               Puebla    0       0       0          0      24  2016
780            Querétaro    0       0       0          0      24  2016
781         Quintana Roo    0       0       0          0      24  2016
782      San Luis Potosí    0       0       0          0      24  2016
783              Sinaloa    0       0       5          0      24  2016
784               Sonora    1       7       7          0      24  2016
785              Tabasco    0       0       0          0      24  2016
786           Tamaulipas    0       2       1          0      24  2016
787             Tlaxcala    0       0       0          0      24  2016
788             Veracruz    0       1       3          0      24  2016
789              Yucatán    0       0       0          0      24  2016
790            Zacatecas    0       0       0          0      24  2016
791                TOTAL    1      25      28          0      24  2016